<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds" packagingData="true">
  <property name="LOG_PATH" value="./logs"/>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder
      class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/nexial-service_%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <cleanHistoryOnStart>false</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <!-- LOG everything at INFO level -->
  <root level="info">
    <appender-ref ref="RollingFile"/>
  </root>
  <logger name="org.springframework" additivity="false" level="WARN">
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="org.springframework.web" additivity="false" level="DEBUG">
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="org.nexial.service" level="info" additivity="false">
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="org.sqlite" additivity="false" level="ERROR">
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="org.springframework.jdbc" additivity="false" level="ERROR">
    <appender-ref ref="RollingFile"/>
  </logger>

</configuration>